doctype html
html
  head
    title= config.app.name
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 #{config.app.name}
    p Either something went wrong or you're trying to access #{config.app.name} improperly, please install into your Shopify store to use this application.
